*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

// To successfully toggling between dark and light mode we are building root 

:root{
    --color-primary: #191d2b;
    --color-secondary: #4169e1;
    --color-white: #FFFFFF;
    --color-black: #000;
    --color-grey0: #f8f8f8;
    --color-grey-1: #dbe1e8;
    --color-grey-2: #b2becd;
    --color-grey-3: #6c7983;
    --color-grey-4: #454e56;
    --color-grey-5: #2a2e35;
    --color-grey-6: #12181b;
    --br-sm-2: 14px;
    --box-shadow: 0 3px 15px rgba(0,0,0,0.3);
}

body{
    background-color: var(--color-primary);
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    color: var(--color-white);
    transition: all .4s ease-in-out;
}

a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

header{
    height: 100vh;
    color: var(--color-white);
    overflow: hidden;
}

section{
    min-height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 3rem 18rem;
}

section{
    transform: translateY(-100%);
    transition: all .4s ease-in-out;
    background-color: var(--color-primary);
}

.sec1{
    display: none;
    transform: translateY(0) scale(1);
}
.sec2{
    display: none;
    transform: translateY(0) scale(1);
}

.sec3{
    display: none;
    transform: translateY(0) scale(1);
}

.sec4{
    display: none;
    transform: translateY(0) scale(1);
}
.sec5{
    display: none;
    transform: translateY(0) scale(1);

}

.active{
    display: block;
    animation: scaleAnim 1s ease-in-out;
    @keyframes scaleAnim {
        0%{
            transform: translateY(-100%) scaleY(0);
        }

        100%{
            transform: translateY(0) scaleY(1);
        }
    }

}

// checking commit
// animation: scaleAnim 1s ease-in-out;: This sets the animation property of the element with the .active class. 
// It applies the animation named scaleAnim to the element with a duration of 1 second (1s) and an easing function of "ease-in-out". 
// This means the animation will start slowly, accelerate in the middle, and slow down at the end. 
//  @keyframes scaleAnim { ... }: This is the start of a @keyframes rule, which defines an animation sequence. 
//  It specifies that the animation sequence is named scaleAnim. 
//  The following properties define the different keyframes (steps) of the animation. 
//   0% { ... }: This defines the styles at the beginning of the animation (0% progress). I
//   nside this block, it sets the following styles:  
//   transform: translateY(-100%) scaleY(0);: This sets the transform property to translate the element vertically by -100% of its height (moving it offscreen) and scale it along the Y-axis to 0 (making it invisible). 
//   100% { ... }: This defines the styles at the end of the animation (100% progress). Inside this block, it sets the following styles:  
//   transform: translateY(0) scaleY(1);: This sets the transform property to translate the element vertically by 0 (bringing it back to its original position) and scale it along the Y-axis to 1 (restoring its original size).

//Controls
.controls {
    position: fixed;
    z-index: 10;
    top: 50%;
    right: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    .control{
        padding: 1rem;
        cursor: pointer;
        background-color: var(--color-grey-4);
        width: 55px;
        height: 55px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: .7rem 0;
        box-shadow: var(--box-shadow-1) ;
        i {
            font-size: 1.2rem;
            color: var(--color-grey-2);
            pointer-events: none;
        }
    }
    .active-btn {
        background-color: var(--color-secondary);
        transition: all .4s ease-in-out;
        i { color: var(--color-white); }
    }
}

.image-edit{
    mix-blend-mode: multiply;
    
}

//Header content
.header-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr); //use to make left and right header differnet

}
//https://github.com/sh654/Personal-Portfolio.git git repo